<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Autothon Tests">
    <parameter name="browser" value="Chrome"/>
    <parameter name="agentUrl" value="http://localhost:8585"/>
    <parameter name="runHeadless" value="false"/>
    <parameter name="runOnSauce" value="false"/>
    <parameter name="runTestsonRemoteHost" value="false"/>
    <parameter name="remoteHostUrl" value="http://13.228.137.176:4444/wd/hub"/>

    <suite-files>
        <suite-file path="./testNG_sequential.xml" />
        <suite-file path="./testNG_parallel.xml" />
    </suite-files>
</suite>